.sideprojects {
  // display: flex;
  display: grid;
  grid-template: 150px  / auto auto auto;
  display: grid;
  // grid-template-columns: 150px auto auto auto;
  grid-gap: 120px;
  padding: 10px;
  //   width: 60%;
  justify-content: space-around;
  align-items: center;

  // margin-left: 150px;
  margin-top: 10px;
  position: relative;
  // margin-left: 70px;
  width: 90%;

  .project {
    background-color: #1b0c44;
    width: 90%;
    height: 250px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgb(121, 118, 118);
    cursor: pointer;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    position: relative;

    .hover {
      position: absolute;
      left: 50%;
      top: -30%;
      color: black;
      // background-color :beige;
      background-color: #1b0c44;
      color: white;
      width: 350px;
      top: -160px;
      padding: 10px;
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      border-radius: 20px;
    }

    .hover::before {
      content: "";
      position: absolute;
    }

    .top {
      span {
        margin-left: 25px;
      }

      img {
        width: 100%;
        height: 170px;
        object-fit: cover;
        padding: 10px;
      }
    }

    .links {
      display: flex;
      justify-content: space-around;

      span {
        background-color: white;
        color: black;
        padding: 5px;
        border-radius: 10px;
      }

      span:hover {
        background-color: rgb(4, 11, 116);
        color: white;
      }

      span a {
        text-decoration: none;
        color: inherit;
      }

      //   span button {
      //     text-decoration: none;
      //     color: inherit;
      //     border: none;

      //   }
    }

    .video-container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: 999;

      .iframe {
        display: flex;
        flex-direction: column;
        // margin-left: -100px;
        width: 1050px;
        height: 550px;
        background-color: rgba(71, 69, 69, 0.568);

        padding: 20px 30px;
        align-items: center;
        justify-content: center;
      }

      button {
        position: absolute;
        margin-left: 46%;
        //  margin-top: 110%;
        width: 30px;
        background-color: #1b0c44;
        color: white;
        cursor: pointer;
      }
    }
  }

  .project:hover .hover {
    visibility: visible;
    opacity: 1;
  }

  .project:hover {
    // background-color: rgb(40, 39, 41);
    background-color: rgb(4, 11, 116);
    color: white;
    transition: all 1s ease;
  }
}

@media screen and (max-width: 767px) {
  .sideprojects {
    grid-template-columns: 1fr;
    margin-left: 0;
    width: 50%;

    .project {
      width: 100%;
      height: auto;
      margin-right: 0;

      .hover {
        width: 90%;
        top: 0;
      }

      .links {
        span {
          font-size: 0.8em;
        }
      }
    }

    .video-container {
      .iframe {
        width: 90%;
      }
    }
  }
}
