.home {
  // overflow: hidden;

  .header {
    display: flex;
    // transform: translate(50%,10%);
    justify-content: space-evenly;
    margin-top: 100px;

    .right {
      img {
        width: 150px;
        border-radius: 60px;
        box-shadow: 0px 2px 5px #ccc;
        margin-right: -100px;
        // border-radius: 30% 70% 44% 56% / 38% 31% 69% 62% ;
      }

      // img:hover {
      //   border-radius: 50%;
      // }
    }
    .left {
      display: flex; /* sets the container to a flex container */
      flex-wrap: wrap; /* allows elements to wrap to the next line */
      flex-direction: column;
      width: 20%;
      // border-radius: 30% 110% 4% 36% / 58% 31% 69% 62%;
      border-radius: 20px;
      box-shadow: 0px 2px 5px #ccc;
      padding-left: 50px;
      padding-top: 20px;
      // background-color: rgb(235, 225, 225);

      .cv {
        cursor: pointer;
        font-size: small;
        border: 2px solid rgb(253, 244, 244);
        width: 60%;
        padding: 5px;
        border-radius: 20px;
        background-color: rgb(167, 154, 154);
        color: rgb(31, 29, 29);
        margin-top: 20px;

        .icon {
          color: #ccc;
          margin-left: 10px;
        }
      }
    }

    .left:hover {
      border-radius: 10%;
      box-shadow: 0px 2px 5px rgb(148, 144, 144);
    }

   
  }

  .about {
    // background-color: #f5f5f5;
    padding: 2em;
    text-align: center;
    width: 70%;
    transform: translate(20%, 10%);
    // margin-left: 150px;
    position: relative;

    .about h2 {
      font-size: 2em;
      margin-bottom: 1em;
    }

    .about p {
      font-size: 1.2em;
      line-height: 1.5em;
    }

    p {
      animation: fadeIn 10s ease-in;
      // background-color: rgb(230, 226, 226);
      border-radius: 20px;
      width: 70%;
      margin-left: 150px;

      // color: white;
      padding: 20px;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .about:hover {
    border-radius: 50%;
  }

  .skills {
    margin-top: 100px;
    padding: 2em;
    text-align: center;
    width: 70%;
    transform: translate(20%, 10%);
    // margin-left: 150px;
    position: relative;

    h2 {
      // margin-left: 710px;
      // background-color: #ccc;
      // width: 100px;
      // padding: 10px;
      // border-radius: 30px;
      // align-items: center;

      font-size: 2em;
      margin-bottom: 1em;
    }

    .items {
      display: flex;

      grid-gap: 20px;
      // margin-left: 293px;
      margin-top: 30px;
      gap: 20px;
      // cursor: pointer;
      color: black;

      .item {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
        align-self: center;
        padding-left: 20px;

        img {
          width: 70px;
          margin-top: -10px;
        }
        h5 {
          justify-content: center;
          align-items: center;
        }

        &:hover {
          transform: scale(1.1);
          transition: all 0.3s;
          background-color: rgb(39, 37, 37);
          color: white;
        }
      }
    }
  }

  .projects {
    background-color: rgb(237, 236, 243);
    // background-color: rgb(255, 247, 247);
    // background-image: url('./../../../public/background.png');
    margin-top: 100px;
    margin-bottom: 200px;
    height: 850px;
    padding: 2em;
    text-align: center;

    // margin-left: 150px;
    position: relative;

    h2 {
      // margin-left: 710px;
      margin-top: 30px;
      margin-bottom: 50px;
      cursor: pointer;
      color: black;

      span {
        font-size: medium;
        font-family: "Times New Roman", Times, serif;
        color: rgb(100, 98, 98);
      }
    }

    .sidepro {
      position: absolute;

      .proj {
        margin-bottom: -150px;
      }

      .demo {
        margin-top: 150px;
        margin-left: 68%;
        width: 250px;
        display: block;
        color: rgb(4, 11, 116);
        animation: demo 3s ease infinite alternate;

        .sign span {
          display: block;
        }
      }

      @keyframes demo {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  .contact {
    padding: 2rem;
    text-align: center;
    margin-top: -200px;

    position: relative;

    h2 {
      margin-bottom: 2rem;
    }

    .contact-links {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: rgb(129, 123, 123);
        margin: 0 1rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #f0f2f3;
        }

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;

    img {
      width: 50px;
      animation: bubble 10s linear infinite;

      @keyframes bubble {
        0% {
          transform: translateY(0);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        70% {
          opacity: 1;
        }
        100% {
          transform: translateY(-300vh);
          opacity: 0;
        }
      }
    }

    img:nth-child(1) {
      animation-delay: 2s;
    }
    img:nth-child(2) {
      animation-delay: 3s;
    }
    img:nth-child(3) {
      animation-delay: 4s;
    }
    img:nth-child(4) {
      animation-delay: 5s;
    }
    img:nth-child(5) {
      animation-delay: 6s;
    }
    img:nth-child(6) {
      animation-delay: 7s;
    }
    img:nth-child(7) {
      animation-delay: 8s;
    }
  }
}



@media only screen and (min-width: 360px) and (max-width: 1023px) {
  .header {
    flex-direction: column;
    margin-top: 50px;
    align-items: center;

    .right {
      margin-right: 0;
      margin-bottom: 50px;
    }

    .left {
      width: 80%;
      padding-left: 20px;
    }
  }

  // .about {
  //   width: 50%;
  //   transform: translate(5%, 10%);

  //   p {
  //     width: 50%;
  //     margin-left: 0;
  //     font-size: small;
  //   }
  // }

  .about {
    width: 100%;
    // transform: translate(5%, 10%);
 

    .about h2 {
      font-size: 1.5em;
    }

    .about p {
      font-size: 1em;
      line-height: 1.2em;
      margin-right: 150px;
    }

    p {
      width: 90%;
      margin-right: 150px;
    }
  }

  // .skills {
  //   width: 60%;
  //   // transform: translate(5%, 10%);
  
  //   .items {
  //     // display: block;
  //     // width: 10px;
  //     grid-template-columns: 1fr;
  //     margin-left: 0;
  //     width: 100%;
  //     span {
      
  //       width: 10px;

  //       img h5 {
  //         width: 20px;
  //       }

  //     }
  //   }
  // }
  .skills {
    width: 100%;
    transform: translate(0%, 0%);

    h2 {
      font-size: 1.5em;
    }

    .items {
      flex-direction: column;
      margin-top: 1em;

      .item {
        padding: 10px;

        img {
          width: 50px;
        }
      }
    }
  }

  .projects {
    background-color: rgb(237, 236, 243);
    margin-top: 100px;
    margin-bottom: 200px;
    height: 750px;
    padding: 1em;
    text-align: center;
    position: relative;

    h2 {
      margin-top: 30px;
      margin-bottom: 20px;
      cursor: pointer;
      color: black;

      span {
        font-size: medium;
        font-family: "Times New Roman", Times, serif;
        color: rgb(100, 98, 98);
      }
    }

    .sidepro {
      position: relative;

      .proj {
        margin-bottom: -100px;
      }
      .demo {
        // margin-left: 50%;
        margin-right: -20%;
        margin-top: 150px;
        width: 100px;
        display: block;
       
        animation: demo 3s ease infinite alternate;
        p {
          color:white;
        }

        .sign span {
          display: block;
          color:white;
        }
      }
    }
  }


  .contact {

    section {
      margin-top: 1050px;
      padding: 1rem;
    
      h2 {
        font-size: 1.5em;
        margin-bottom: 1rem;
      }
      
      .contact-links {
        a {
          font-size: 1.2em;
        }
      
        svg {
          width: 24px;
          height: 24px;
        }
      }
      }



  }
  

    



}

