.home {
  // overflow: hidden;
  margin-top: 60px;
  justify-content: center;
  padding: 1rem;

  .about {
    // background-color: #f5f5f5;
    margin-top: 60px;
    justify-content: center;

    display: flex;
    padding: 1em;
    // transform: translate(20%, 10%);
    // margin-left: 150px;
    // position: relative;
    padding: 2rem;
    justify-content: center;
    align-items: center;

    .presentation {
      flex-direction: column;

      span {
        font-size: larger;
        color: aqua;
      }

      .text {
        animation: fadeIn 10s ease-in;
        // background-color: rgb(230, 226, 226);
        border-radius: 20px;
        width: 100%;
        // margin-left: 150px;

        // color: white;
        padding: 20px;
        font-size: larger;

        .name {
          color: aqua;
          font-size: 6rem;
          line-height: 1.1;
          margin-left: -25px;
        }
      }

      .text2 {
        text-align: start;
        text-decoration: solid;
        font-size: 1.5rem;
        width: 70%;
      }

      .contact {
        margin-top: 20px;
        margin-right: 81%;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }

    .profile {
      .right {

        .thought-cloud {
          position: absolute;

          margin-top: -70px;
          margin-right: 10px;
          background-color: #fff;
          border-radius: 20px;
          padding: 10px 20px;
          font-size: 16px;
          color: #333;
          border: 1px solid #ccc;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .thought-cloud::before {
          content: "";
          position: absolute;
          width: 40px;
          height: 20px;
          background-color: #fff;
          border-radius: 50% 50% 50% 0;
          bottom: -20px;
          left: 50%;

          border: 1px solid #ccc;
        }



        .profile-pic {
          width: 170px;
          border-radius: 50%;
          box-shadow: 0px 2px 5px #ccc;
          cursor: pointer;
          transition: transform 0.3s ease;
        }

        .profile-pic:hover {
          transform: scale(1.1);
        }


        img {
          width: 170px;
          border-radius: 50%;
          box-shadow: 0px 2px 5px #ccc;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
          }
        }

        .hover-text {
          margin-top: 10px;
          font-size: 16px;
          color: #333;
          animation: fadeIn 2s infinite alternate;
          display: flex;
          align-items: center;
          justify-content: center;


        }

        @keyframes fadeIn {
          from {
            opacity: 0.5;
          }

          to {
            opacity: 1;
          }
        }

        @keyframes bounce {
          from {
            transform: translateY(0);
          }

          to {
            transform: translateY(-5px);
          }
        }
      }

      .left {
        display: flex;

        flex-wrap: wrap;

        flex-direction: column;
        width: 100%;

        border-radius: 20px;
        box-shadow: 0px 2px 5px #ccc;
        padding-left: 50px;
        padding-top: 20px;
      }

      .left:hover {
        border-radius: 10%;
        box-shadow: 0px 2px 5px rgb(148, 144, 144);
      }
    }

    // .profile {
    //   position: relative;

    //   .right {
    //     position: relative;
    //     display: inline-block;

    //     img {
    //       width: 170px;
    //       border-radius: 50%;
    //       box-shadow: 0px 2px 5px #ccc;
    //       cursor: pointer;
    //     }
    //   }
    // }
  }

  .about:hover {
    border-radius: 50%;
  }

  .skills {
    padding: 2em;
    text-align: center;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 2s ease-in-out;

    h2 {
      font-size: 2em;
      margin-bottom: 1em;
      margin-right: 50px;
    }

    .skills-container {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 1rem;

      .section {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 1rem;

        h2 {
          margin-bottom: 1rem;
          width: 100%;
        }

        .skill {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          margin-left: 30%;
        }

        img {
          width: 32px;
          height: 32px;
          margin-right: 0.5rem;
        }

        p {
          text-align: start;
        }
      }
    }
  }

  .skills {}

  .skills.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .projects {
    background-color: rgb(237, 236, 243);
    // background-color: rgb(255, 247, 247);
    // background-image: url('./../../../public/background.png');
    margin-top: 100px;
    margin-bottom: 20px;
    // height: 910px;

    height: 130vh;
    padding: 2em;
    text-align: center;

    // margin-left: 150px;
    position: relative;
    width: 100%;


    place-items: center;






    h2 {
      // margin-left: 710px;
      margin-top: 30px;
      margin-bottom: 50px;
      cursor: pointer;
      color: black;
    }

    .sidepro {
    
      justify-content: center;
      align-items: center;
   



      place-items: center;
      padding: 2em;
 



      .proj {
        margin-bottom: -150px;
     
        width: 100%;
        border-radius: 20px;
        cursor: pointer;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;


      }

      .demo {
        margin-top: 150px;
        // margin-left: 68%;
        width: 100%;
        display: block;
        color: rgb(4, 11, 116);
        animation: demo 3s ease infinite alternate;

        .sign span {
          display: block;
        }
      }

      @keyframes demo {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }
  }

  .jsOnly {
    // background-color: #3c3eb1;
    width: 100%;
  }

  .contact {
    padding: 2rem;
    text-align: center;
    // margin-top: -200px;
    margin-top: 100px;

    position: relative;

    h2 {
      margin-bottom: 2rem;
    }

    .contact-links {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: rgb(129, 123, 123);
        margin: 0 1rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #f0f2f3;
        }

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;

      .form-group {
        margin-bottom: 15px;

        label {
          font-weight: bold;
          margin-bottom: 8px;
          display: block;
        }

        input,
        textarea {
          width: 50%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;

          &:focus {
            outline: none;
            border-color: #007bff;
          }
        }

        textarea {
          resize: vertical;
          height: 150px;
          /* adjust as needed */
        }
      }

      button {
        background-color: rgb(135, 135, 146);
        color: #fff;
        padding: 10px;
        font-size: 18px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 15%;
        justify-content: center;
        align-items: center;
        margin-left: 42%;
        margin-bottom: 50px;

        &:hover {
          background-color: #0a0b3f;
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 1023px) {
  .header {
    flex-direction: column;
    margin-top: 50px;
    align-items: center;

    .right {
      margin-right: 0;
      margin-bottom: 50px;
    }

    .left {
      width: 80%;
      padding-left: 20px;
    }
  }

  .about {
    width: 100%;
    // transform: translate(5%, 10%);

    .about h2 {
      font-size: 1.5em;
    }

    .about p {
      font-size: 1em;
      line-height: 1.2em;
      margin-right: 150px;
    }

    p {
      width: 90%;
      margin-right: 150px;
    }
  }

  .skills {
    width: 100%;
    transform: translate(0%, 0%);

    h2 {
      font-size: 1.5em;
    }

    .items {
      flex-direction: column;
      margin-top: 1em;

      .item {
        padding: 10px;

        img {
          width: 50px;
        }
      }
    }
  }

  .projects {
    background-color: rgb(237, 236, 243);
    margin-top: 100px;
    margin-bottom: 200px;
    height: 750px;
    padding: 1em;
    text-align: center;
    position: relative;




    h2 {
      margin-top: 30px;
      margin-bottom: 20px;
      cursor: pointer;
      color: black;

      span {
        font-size: medium;
        font-family: "Times New Roman", Times, serif;
        color: rgb(100, 98, 98);
      }
    }

    .sidepro {
      position: relative;

      .proj {
        margin-bottom: -100px;
      }

      .demo {
        // margin-left: 50%;
        margin-right: -20%;
        margin-top: 150px;
        width: 100px;
        display: block;

        animation: demo 3s ease infinite alternate;

        p {
          color: white;
        }

        .sign span {
          display: block;
          color: white;
        }
      }
    }
  }

  .jsOnly {}

  .contact {
    section {
      // margin-top: 1050px;
      padding: 1rem;

      h2 {
        font-size: 1.5em;
        margin-bottom: 1rem;
      }

      .contact-links {
        a {
          font-size: 1.2em;
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}