.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  z-index: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;

  .navbar-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .desktop-menu {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-left: 50px;

        a {
          text-decoration: none;
          color: white;
          font-size: 18px;
          position: relative;
        }

        a:after {
          content: "";
          position: absolute;
          background-color: whitesmoke;
          width: 0;
          height: 3px;
          bottom: -10px;
          left: 0;
          transition: 0.3s ease;
        }

        a:hover:after {
          width: 100%;
        }
      }
    }

    .cv {
      margin-right: 50px;
      cursor: pointer;
      font-size: small;
      padding: 5px;
      border: 2px solid rgb(253, 244, 244);
      border-radius: 20px;
      background-color: rgb(167, 154, 154);
      color: rgb(31, 29, 29);

      span {
        color: black;
      }

      .icon {
        color: #ccc;
        margin-left: 10px;
      }
    }

    .burger-menu {
      display: none;
      font-size: 24px;
      cursor: pointer;
    }

    .mobile-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-top: 10px;

        a {
          text-decoration: none;
          color: white;
          font-size: 18px;
        }
      }
    }
  }

  .language-switcher {
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
      margin-left: 10px;
      width: 30px;
    }
  }

  // Media Queries for Responsiveness
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    .navbar-menu {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .cv {
        margin-right: 0;
        margin-bottom: 15px;
      }

      .burger-menu {
        display: none;
      }

      .mobile-menu {
        display: flex;
      }
    }

    .language-switcher {
      margin-top: 10px;
    }
  }

  @media (max-width: 480px) {
    .navbar-menu {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .desktop-menu {
        display: none;
      }

      .burger-menu {
        display: block;
        margin-left: 80%;
      }

      .mobile-menu {
        display: flex;
      }
    }

    .language-switcher {
      display: flex;
      align-items: center;
    }

    .cv {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 425px) {
    .navbar-menu {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .desktop-menu {
        display: none;
      }

      .burger-menu {
        display: block;
      }

      .mobile-menu {
        display: flex;
      }
    }

    .language-switcher {
      display: flex;
      align-items: center;
    }

    .cv {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 375px) {
    .navbar-menu {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .desktop-menu {
        display: none;
      }

      .burger-menu {
        display: block;
      }

      .mobile-menu {
        display: flex;
      }
    }

    .language-switcher {
      display: flex;
      align-items: center;
    }

    .cv {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 320px) {
    .navbar-menu {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .desktop-menu {
        display: none;
      }

      .burger-menu {
        display: block;
      }

      .mobile-menu {
        display: flex;
      }
    }

    .language-switcher {
      display: flex;
      align-items: center;
    }

    .cv {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}
