.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -60%);
    // background-color: white;
    margin-right: -250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    z-index: 1000;
   
  
    img {
      width: 100%;
      height: auto;
      border-radius: 20px;
      
    }
  }
  
  
  